/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  margin: 20% auto;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px  #ccc;
  background:
    radial-gradient(0.71em at 50% 1em, #ff6f1e 99%, #0000 101%) calc(50% - 1em)
      1em/2em 200% repeat-x text,
    radial-gradient(0.71em at 50% -0.5em, #0000 99%,  #ff6f1e 101%) 50% 1.5em/2em
      200% repeat-x text;
  animation:
    l10-0 0.8s linear infinite alternate,
    l10-1 4s linear infinite;
}
@keyframes l10-0 {
  to {
    background-position-x: 50%, calc(50% + 1em);
  }
}
@keyframes l10-1 {
  to {
    background-position-y: -0.5em, 0;
  }
}
