@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/38acc11ee03d6c1df3df3cc99a04b734?family=Iskoola+Pota+V2");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Sinhala", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 25px;
    background: #fff8f4;
  /* background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%); */
}
